[submodule "evm/lib/forge-std"]
	path = evm/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "evm/lib/Solidity-RLP"]
	path = evm/lib/Solidity-RLP
	url = https://github.com/hamdiallam/Solidity-RLP
