[submodule "evm/lib/forge-std"]
	path = evm/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "evm/lib/Solidity-RLP"]
	path = evm/lib/Solidity-RLP
	url = https://github.com/hamdiallam/Solidity-RLP
[submodule "evm/lib/solidity-merkle-trees"]
	path = evm/lib/solidity-merkle-trees
	url = https://github.com/polytope-labs/solidity-merkle-trees
[submodule "evm/lib/openzeppelin-contracts"]
	path = evm/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
